<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Eat-Da-Burger!</h1>
  </div>

  <div class="row">
    <div class="col-lg">
      <h2>TO EAT</h2>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
              {{this.id}} || {{this.burger_name}}
              <button data-burger-id="{{this.id}}" class="devour-burger">Devour!</button>
            </li>
          {{/unless}}
        {{/each}}
    </div>

  <div class="col">
    <h2>EATEN</h2>
      {{#each burgers}}
        {{#if this.devoured}}
          <li>
            {{this.id}} || {{this.burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <br><hr>

  <div class="row">
    <h2>CREATE A BURGER</h2>
    <br>
    
    <form id="add-burger" class="button-size">
      <textarea typce="text" id="new-burger"></textarea>
      <button type="submit">Submit Burger!</button>
    </form>
  </div>

</div>